{
  "env": {
    "amd": true,
    "browser": true,
    "node": true
  },

  "globals": {
    "console": true,
	"$": true,
	"module": true,
	"exports": true,
	"imgix": true,
	"require": true
  },

  "rules": {
	"no-global-strict": 0,
	"no-console": 0,
	"quotes": 0,
	"no-underscore-dangle": 0,
	"space-infix-ops": 0,
	"camelcase": 0,
	"no-use-before-define": 0,
	"no-extend-native": 0,
	"new-cap": 0,
	"no-loop-func": 0
  }
}