{
  "env": {
    "amd": false,
    "browser": true,
    "node": false
  },

  "globals": {
    "console": true,
	"$": true,
	"module": true,
	"it": true,
	"describe": true,
	"expect": true,
	"imgix": true,
	"runs": true,
	"waitsFor": true,
	"spyOn": true
  },

  "rules": {
	"quotes": 0,
	"dot-notation": 0
  }
}